<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dynamsoft.documentscanner">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- For Android 13+ WiFi scanning -->

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation" /> <!-- Optional: Only if you need legacy storage access -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/verifier"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/verifier"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocumentScanner">
        <!-- For Android 10+ storage compatibility -->
        <activity
            android:name=".ViewerActivity"
            android:exported="false" />
        <activity
            android:name=".CroppingActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerDataActivity"
            android:exported="false" />

        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity2"
            android:exported="false" />

        <activity
            android:name=".DisplayActivity"
            android:exported="false" />

        <activity
            android:name=".Display2Activity"
            android:exported="false" />

        <activity
            android:name=".SelfieCameraActivity"
            android:exported="false" />

        <activity
            android:name=".DisplayNFCDataActivity"
            android:exported="false" />
        <activity
            android:name=".NFCcameraActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ReadNFCActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tananaev.passportreader.REQUEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
        android:name=".ui.CaptureActivity" />

        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>